---
interface Props {
  clase: string;
  titulo: string;
  parrafo: string;
  href: string;
  hrefGithub: string;
  hrefweb: string;
  nombreBoton: string;
}
const astroProps = Astro.props as Props;
const { titulo, parrafo, href, hrefGithub, hrefweb, nombreBoton } = astroProps;
---

<div class="col-md-4 mb-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{titulo}</h5>
      <p class="card-text">
        {parrafo}
      </p>
      <div class="d-grid gap-2">
        <a target="_blank" href={href} class="btn btn-outline-light">
          <i class="bi bi-braces"></i> Ir a Codepen
        </a>
        <a target="_blank" href={hrefGithub} class="btn btn-outline-light mt-2">
          <i class="bi bi-github"></i> Ir a GitHub
        </a>
        <a target="_blank" href={hrefweb} class="btn btn-outline-light mt-2">
          <i class="bi bi-browser-chrome"></i>
          {nombreBoton}
        </a>
      </div>
    </div>
  </div>
</div>

<style>
  .bi {
    margin-right: 8px;
  }
</style>
